
ul,
ul ul {
  margin: -2px 0 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}
ul li.active > a {
  color: #1abc9c;
}
 ul li.active ul {
  display: block;
}
ul li a {
  color: #161718;
  text-decoration: none;
  display: block;
  padding: 18px 0;
  font-size: 17px;
  outline: 0;
  text-align: left;
  transition: all 200ms ease-in;
}
ul li a:hover {
  color: #4f9afe;
}
ul li a span {
  display: inline-block;
  vertical-align: middle;
}
ul li a i {
  width: 20px;
}
ul li a i .fa-angle-left,
ul li a i .fa-angle-right {
  padding-top: 3px;
}

ul ul li {
  margin-bottom: 12px;
  margin-left: 36px;
  margin-right: 0;
  border-bottom: none;
  text-align: left;
}
ul ul li a {
    font-size: 15px;
    padding: 1px 0;
    color: #3f3f3f;
}
.img-item{
    vertical-align: middle;
    margin-right: 10px;
}
ul ul li small {
  color: #ccc;
}

.dropdown-icon {
  height: 18px;
  width: 18px;
  opacity: 0.3;
  vertical-align: middle;
  float: right;
  margin: 5px 5px;
}
.rotateimg180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}